@model IEnumerable<FTMS.Models.ManageTrainee>
@{
	ViewBag.Title = "Mine";
}


<h2>Mine</h2>

@using (Html.BeginForm("Mine", "ManageTrainees", FormMethod.Get))
{
	<p>
		Find by Course: @Html.TextBox("SearchString")
		<input type="submit" value="Search" />
	</p>
}


<table class="table table-hover">
	<tr>
		<th>Course Name</th>
		<th>Trainee Email</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<th>@item.Course.Name</th>
			<th>@item.Trainee.Email</th>
		</tr>
	}
</table>