<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ac2507c9-e1cb-48b0-a66a-cf1153ae9345/resourcegroups/FTMS-ProjectGroup/providers/Microsoft.Web/sites/FTMS-Project</ResourceId>
    <ResourceGroup>FTMS-ProjectGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ftms-project.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ftms-project.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FTMS-Project</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FTMS-Project</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ftmsdbserver.database.windows.net,1433;Initial Catalog=FTMS_db;User ID=thanhnguyen662@ftmsdbserver;Password=Thethanhnguyen5" Name="Data Source=tcp:ftmsdbserver.database.windows.net,1433;Initial Catalog=FTMS_db;User Id=thanhnguyen662@ftmsdbserver;Password=Thethanhnguyen5" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FTMS.Models.ApplicationDbContext, FTMS" MigrationConfiguration="FTMS.Migrations.Configuration, FTMS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ftmsdbserver.database.windows.net,1433;Initial Catalog=FTMS_db;User Id=thanhnguyen662@ftmsdbserver;Password=Thethanhnguyen5</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>